<main>
    <mat-card>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Login">
                <mat-card-title>Login</mat-card-title>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm, true)" autocomplete="off">
                    <mat-card-content>
                        <mat-form-field>
                            <mat-label>Enter your email</mat-label>
                            <input matInput type="email" ngModel name="email" email required>
                            @if (userEmail.invalid) {
                                <mat-error>{{userEmailError}}</mat-error>
                            }
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <mat-label>Enter your password</mat-label>
                            <input matInput type="password" ngModel name="password" required>
                            @if (userPassword.invalid) {
                                <mat-error>{{userPasswordError}}</mat-error>
                            }
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button type="submit">Login</button>
                    </mat-card-actions>
                </form>
            </mat-tab>
            <mat-tab label="Register">
                <mat-card-title>Register</mat-card-title>
                <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm, false)" autocomplete="off">
                    <mat-card-content>
                        <mat-form-field>
                            <mat-label>Enter your name</mat-label>
                            <input matInput ngModel name="name" required>
                            @if (userEmail.invalid) {
                                <mat-error>{{newNameError}}</mat-error>
                            }
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <mat-label>Enter your email</mat-label>
                            <input matInput type="email" ngModel name="email" email required>
                            @if (userEmail.invalid) {
                                <mat-error>{{newEmailError}}</mat-error>
                            }
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <mat-label>Enter your password</mat-label>
                            <input matInput type="password" ngModel name="password" required>
                            @if (userEmail.invalid) {
                                <mat-error>{{newPasswordError}}</mat-error>
                            }
                        </mat-form-field>
                        <br />
                        <mat-form-field>
                            <mat-label>Confirm your password</mat-label>
                            <input matInput type="password" ngModel name="passwordConfirm" required>
                            @if (userEmail.invalid) {
                                <mat-error>{{newPasswordConfirmError}}</mat-error>
                            }
                        </mat-form-field>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button type="submit">Register</button>
                    </mat-card-actions>
                </form>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</main>