main {
    display: flex;
    margin: 2% 6% 2% 6%;
}

.imgFrame {
    width: auto;
    height: inherit;
}

img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.descFrame {
    height: inherit;
    margin-left: 2%;
}