
<main>
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="handlePageEvent($event)" aria-label="Select page"></mat-paginator>
    <div class="gamesList">
        <mat-card *ngFor="let game of games; index as i">
            <mat-card-header class="header-spacer">
                <mat-card-title>{{game.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src={{game.image.icon_url}}>
            <mat-card-content></mat-card-content>
        </mat-card>
    </div>
</main>